*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}
nav{
    font-family: tahoma;
    height: 80px;
    width: 100%;
    font-weight: 800;
}

nav ul{
    text-align: center;
}
nav li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    width: 100px;
    display: block;
}

nav ul li a{
    color:white;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: color 0.5s ease;
}
a.active,a:hover{
    color:#b25827;
}



body{
    background-color: #f4f4f4;
    color:#f4f4f4;
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882');
    background-size: cover;
    font-family: monospace;
    font-size: 18px;
    line-height: 1.8em;
    margin: 0%;
    text-align:center;
    padding-bottom:400px;
}

.container{
    width: 1000px;
    margin: auto;
}

.box-1{
    color:#f4f4f4;
/*Same as above*/
    border-width: 10px;
    padding: 20px;
}

.box-1 h1{
    font-family:Tahoma;
    text-align: center;
    padding: 0%;
padding-top: 330px;
font-size: 100px;
line-height: 1em;
}
